<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.coppernic.mobility.CoppernicApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.SplashScreenTheme"
        tools:targetApi="31">
        <profileable
            android:shell="true"
            tools:targetApi="29" />
        <activity
            android:name="com.coppernic.mobility.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <provider-->
<!--            android:name="androidx.startup.InitializationProvider"-->
<!--            android:authorities="${applicationId}.androidx-startup"-->
<!--            android:exported="false"-->
<!--            tools:node="merge">-->

<!--            &lt;!&ndash;-->
<!--                 Disable the WorkManager default initializer since-->
<!--                 we are providing our own configuration.-->
<!--            &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="androidx.work.WorkManagerInitializer"-->
<!--                android:value="androidx.startup"-->
<!--                tools:node="remove" />-->
<!--        </provider>-->
        <!-- <receiver android:name=".GeofenceBroadcastReceiver"/> -->
    </application>

</manifest>